.dropDownMenu{
    width: 90%;
    margin-bottom: 1em;
    /* margin-left: 50%; */
    margin-right: 1em;
}
.Label{
    font-size: 1.5em;
    margin-left: 2.7em;
}

.quantSelector{
    width: 90%;
    margin-left: 4em;
    margin-right: 1em;

}
.ui.fluid.dropdown {
    margin-left: 3.9em;
    display: block;
    width: 90%;
    min-width: 0;
}
.submitbtn{
    margin-bottom: 1em;
    margin-left: 50%;
}